__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
dinov3/
dinov3_vitl16_pretrain_lvd1689m-8aa4cbdd.pth
fg_masks/
scripts/*
code/mvtec_save_dinov3/*
code/visa_save_dinov3/*
code/mpdd_save_dinov3/*
code/btad_save_dinov3/*
code/ksdd_save_dinov3/*
code/mvtec_save_dinov3_guided/*
code/visa_save_dinov3_guided/*
code/mpdd_save_dinov3_guided/*
code/btad_save_dinov3_guided/*

.vscode/
